@if(GameweekNumber != 0)
{
    <div class="fixture-container">
        <span class="fixture-container__gameweek" style="font-weight: @(NextGameweek == GameweekNumber ? "var(--fw-bold);" : "var(--fw-normal);") text-decoration: @(GameweekNumber < NextGameweek ? "line-through;" : "")">@GameweekNumber</span>
    </div>
}
else
{
    if (Fixtures == null)
    {
        <div class="fixture-container">
            <span>-</span>
        </div>
    }
    else
    {
        <div class="fixture-container">
            @foreach (var fixture in Fixtures)
            {
                <div class="fixture-container__fixture" style="background-color:@SetFixtureBackground(fixture); color:@SetFixtureForeground(fixture); opacity: @(fixture.GameweekId < NextGameweek ? ".5;" : "1;")" >
                    @if (IsBlank(fixture))
                    {
                        <span>-</span>
                    }
                    else
                    {
                        <span>@(IsHome(fixture) ? fixture.AwayTeam.ShortName + " (H)" : fixture.HomeTeam.ShortName + " (A)")</span>
                    }
                </div>
            }
        </div>
    } 
}

